argcomplete==1.8.2
arrow==0.14.7
beautifulsoup4==4.5.3
binaryornot==0.4.4
bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cookiecutter==1.6.0
docutils==0.15
docx2txt==0.6
EbookLib==0.15
Flask==1.1.1
future==0.17.1
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10.1
jinja2-time==0.2.0
Kivy==1.11.1
Kivy-examples==1.11.1
Kivy-Garden==0.1.4
lxml==4.3.4
mail-parser==3.9.3
MarkupSafe==1.1.1
nltk==3.4.4
numpy==1.17.1
pandas==0.25.1
pdfkit==0.6.1
Pillow==6.1.0
pkginfo==1.5.0.1
poyo==0.5.0
Pygments==2.4.2
PyPDF2==1.26.0
python-dateutil==2.8.0
python-magic==0.4.15
python-pptx==0.6.5
pytz==2019.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
simplejson==3.16.0
six==1.10.0
SpeechRecognition==3.6.3
tika==1.19
tqdm==4.35.0
twine==1.13.0
urllib3==1.25.8
virtualenv==16.6.2
webencodings==0.5.1
Werkzeug==0.15.5
whichcraft==0.6.1
xlrd==1.0.0
XlsxWriter==1.1.8
